[submodule "homework8/foundry/hw8/lib/openzeppelin-contracts"]
	path = homework8/foundry/hw8/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "homework16/foundry/lib/pancake-smart-contracts"]
	path = homework16/foundry/lib/pancake-smart-contracts
	url = https://github.com/pancakeswap/pancake-smart-contracts
